
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Phone Number:</b> <%= @content_block.phone_number %></p>
<p><b>Email:</b> <%= @content_block.email %></p>
<p><b>Property:</b> <%= @content_block.property.name %></p>
